
body {
	margin: 0;
	padding: 0;
	
	font-family: 'robotolocalcopy','Roboto',sans-serif;
	
	/* set the base font size as 10px in html,
	 * can now resize the whole game board by
	 * updating the body font size in em's
	 */
	font-size: 10px;
}

h1 {
	text-align: center;
}

#game-wrapper {
	width: 16em;
	height: 20em;
	margin: 0 auto;
	position: relative;
}

#game-board {
	background: darkgray;
	
	width: 10em;
	height: 20em;
	overflow: hidden;
	
	position: absolute;
	left: 0;
	top: 0;
}
#game-info {
	background: black;
	color: white;
	
	box-sizing: border-box;
	width: 6em;
	height: 20em;
	padding: 1em;
	
	position: absolute;
	right: 0;
	top: 0;
}

#game-level, #game-score, #game-lines, #game-next {
	margin: 0 0 0.5em;
	text-align: right;
	overflow: auto;
}

#game-info .title {
	display: block;
	text-transform: lowercase;
	font-size: 0.9em;
	font-weight: 100;
}
#game-info .value {
	display: block;
	font-weight: 900;
}
#game-info .container {
	float: right;
	display: block;
	width: 4em;
	height: 4em;
	background: #333;
	position: relative;
}

.button {
	position: absolute;
	cursor: pointer;

	text-align: center;
	font-weight: 200;
	
	background: #428bca;
	color: white;
	border-radius: 0.333em;
	z-index: 99;
}
.button:hover {
	background: #357ebd;
}
#button-start, #button-resume {
	left: 2.5em;
	top: 9em;
	
	width: 5em;
	height: 2em;
	line-height: 2em;
}
#button-pause {
	right: 1em;
	bottom: 1em;
	
	width: 4em;
	height: 2em;
	line-height: 2em;
}

.dialog {
	position: absolute;
	left: 1em;
	top: 7.5em;
	
	width: 6.4em;
	padding: 0.8em;
	
	background: white;
	border-radius: 0.1em;
}
.dialog div:first-child {
	font-size: 0.7em;
}
.dialog .close-button {
	position: absolute;
	right: 0.25em;
	top: 0.25em;
	cursor: pointer;
	
	width: 0.8em;
	height: 0.8em;
	line-height: 0.6em;
	
	text-align: center;
	font-weight: 200;
	
	background: #ca4242;
	color: white;
	border-radius: 0.1em;
	z-index: 100;
}
.dialog .close-button:hover {
	background: #b03a3a;
}

.piece-wrapper {
	position: absolute;
}

.piece-block {
	box-sizing: border-box;
	width: 1em;
	height: 1em;
	border: 0.1333em outset;
	border-radius: 0.1em;
	position: absolute;
}

/* O/square piece */
.piece-o.piece-block {
	/* yellow */
	background: #e4de00;
	border-color: #bdb700;
}

/* L piece */
.piece-l.piece-block {
	/* orange */
	background: #e46200;
	border-color: #bd4e00;
}

/* J piece */
.piece-j.piece-block {
	/* blue */
	background: #004ee4;
	border-color: #0041bd;
}

/* S piece */
.piece-s.piece-block {
	/* green */
	background: #00e427;
	border-color: #00aa20;
}

/* Z piece */
.piece-z.piece-block {
	/* red */
	background: #e40027;
	border-color: #b00020;
}

/* T piece */
.piece-t.piece-block {
	/* purple */
	background: #9c13e4;
	border-color: #8200bd;
}

/* I/long piece */
.piece-i.piece-block {
	/* cyan */
	background: #00e4e4;
	border-color: #00bdbd;
}
