
body {
	margin: 0;
	padding: 0;
	
	background: #333;
	font-family: 'Roboto', sans-serif;
	
	/* set the base font size as 10px in html,
	 * can now resize the whole game board by
	 * updating the body font size in em's
	 */
	font-size: 10px;
}

#game-wrapper {
	position: relative;
	background: black;
	
	width: 16.5em;
	height: 21em;
	margin: 0 auto;
}

#game-board {
	position: absolute;
	left: 0.5em;
	top: 0.5em;
	
	background: darkgray;
	
	width: 10em;
	height: 20em;
	overflow: hidden;
}
#game-info {
	position: absolute;
	right: 0;
	top: 0;
	
	background: black;
	color: white;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 6em;
	height: 21em;
	padding: 0.5em 0.5em 0.5em 1em;
}

#game-level, #game-score, #game-lines, #game-next {
	margin: 0 0 0.5em;
	text-align: right;
	overflow: auto;
}

#game-info .title {
	display: block;
	text-transform: lowercase;
	font-size: 0.9em;
	font-weight: 100;
}
#game-info .value {
	display: block;
	font-weight: 900;
}
#game-info .container {
	position: relative;
	background: #333;
	
	display: block;
	float: right;
	width: 4em;
	height: 4em;
}

.button {
	position: absolute;
	cursor: pointer;

	text-align: center;
	font-weight: 100;
	
	background: #428bca;
	color: white;
	border-radius: 0.333em;
	z-index: 99;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}
.button:hover {
	background: #357ebd;
}
.button.hl-first:first-letter {
	background: rgba(255,255,255,0.15);
}
#button-start, #button-about,
#button-resume, #button-quit,
#button-scores {
	left: 1.5em;
	
	width: 7em;
	height: 2em;
	line-height: 2em;
}
#button-start { top: 6.5em; }
#button-about { top: 9em; }
#button-scores { top: 11.5em; }
#button-resume { top: 7.75em; }
#button-quit { top: 10.25em; }

#button-pause {
	right: 0.5em;
	bottom: 1em;
	
	width: 4.5em;
	height: 2em;
	line-height: 2em;
}

.button.button-toggle {
	width: 2em;
	height: 2em;
	line-height: 2em;
}
.button-toggle[data-on=false] {
	background: #ca4242;
}
.button-toggle[data-on=false]:hover {
	background: #bd3535;
}
#button-music {
	right: 0.5em;
	bottom: 3.5em;
}
#button-sound {
	right: 3em;
	bottom: 3.5em;
}

.dialog {
	position: absolute;
	padding: 0.8em;
	z-index: 100;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	background: white;
	border-radius: 0.1em;
}
#dialog-finish {
	left: 1em;
	top: 5.5em;
	width: 8em;
}
#dialog-info,
#dialog-scores {
	left: 1.5em;
	top: 1.5em;
	width: 13.5em;
}

.dialog > p {
	font-size: 0.8em;
	font-weight: 100;
	margin: 0 0 0.7em;
}
.dialog .inner-content {
	font-size: 0.45em;
	font-weight: 400;
	max-height: 33em;
	overflow-y: auto;
}
.dialog .inner-content p {
	margin: 0 0 0.7em;
}
.dialog .score {
	font-size: 2em;
	font-weight: 900;
}
.dialog a {
	color: #428bca;
}
.dialog a:hover {
	color: #357ebd;
}
.dialog table {
	border: none;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.dialog th,
.dialog td {
	border: 1px solid black;
}
.dialog input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	font-size: 1.8em;
}

.dialog .close-button {
	position: absolute;
	right: 0.25em;
	top: 0.25em;
	cursor: pointer;
	
	width: 0.8em;
	height: 0.8em;
	line-height: 0.6em;
	
	text-align: center;
	font-weight: 400;
	
	background: #ca4242;
	color: white;
	border-radius: 0.1em;
	z-index: 101;
}
.dialog .close-button:hover {
	background: #b03a3a;
}
span.key {
	display: inline-block;
	background: #999;
	color: white;
	border-radius: 0.2em;
	
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	
	font-weight: normal;
}
span.key-long {
	width: auto;
	padding: 0 0.5em;
}

.piece-wrapper {
	position: absolute;
}

.piece-block {
	position: absolute;
	width: 1em;
	height: 1em;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	border: 0.1333em outset;
	border-radius: 0.1em;
}

/* O/square piece - yellow */
.piece-o.piece-block {
	background: #e4de00;
	border-color: #bdb700;
}

/* L piece - orange */
.piece-l.piece-block {
	background: #e46200;
	border-color: #bd4e00;
}

/* J piece - blue */
.piece-j.piece-block {
	background: #004ee4;
	border-color: #0041bd;
}

/* S piece - green */
.piece-s.piece-block {
	background: #00e427;
	border-color: #00aa20;
}

/* Z piece - red */
.piece-z.piece-block {
	background: #e40027;
	border-color: #b00020;
}

/* T piece - purple */
.piece-t.piece-block {
	background: #9c13e4;
	border-color: #8200bd;
}

/* I/long piece - cyan */
.piece-i.piece-block {
	background: #00e4e4;
	border-color: #00bdbd;
}
