<div id="game-wrapper" style="margin-top: {{ margin }}px;">
    <div id="game-board"></div>
    <div id="game-info">

        <div id="game-next">
            <span class="title">Next:</span>
            <div class="container"></div>
        </div>

        <div id="game-score">
            <span class="title">Score:</span>
            <span class="value">0</span>
        </div>
        <div id="game-level">
            <span class="title">Level:</span>
            <span class="value">1</span>
        </div>
        <div id="game-lines">
            <span class="title">Lines:</span>
            <span class="value">0</span>
        </div>

        <div id="button-music" class="button button-toggle" data-on="{{ settingsMusic }}">
            <i class="fa fa-music"></i>
        </div>
        <div id="button-sound" class="button button-toggle" data-on="{{ settingsSound }}">
            <i class="fa fa-volume-up"></i>
        </div>

    </div>
</div>
