<div>
    <p>
        BlockDrop is a shameless Tetris&reg; clone using pure JavaScript, HTML and CSS.
        I started writing it while teaching myself how to use JavaScript as a proper language and wean myself off jQuery.
        I'm also using it as a testing platform for various JavaScript, HTML5 and CSS3 features.
        I've tested in Chrome, Firefox, IE 9/10 and Chrome for Android so it should work on most modern platforms.
    </p>
    <p>Controls:</p>
    <p>
        <span class='key'><i class='fa fa-caret-left'></i></span>
        <span class='key'>a</span> <span class='key'>h</span>
        or swipe <i class='fa fa-long-arrow-left'></i><br />
        moves the piece left
    </p>
    <p>
        <span class='key'><i class='fa fa-caret-right'></i></span>
        <span class='key'>d</span> <span class='key'>l</span>
        or swipe <i class='fa fa-long-arrow-right'></i><br />
        moves the piece right
    </p>
    <p>
        <span class='key'><i class='fa fa-caret-down'></i></span>
        <span class='key'>w</span> <span class='key'>k</span>
        swipe <i class='fa fa-long-arrow-up'></i>, or single tap<br />
        rotates the piece 90&deg; clock-wise
    </p>
    <p>
        <span class='key'><i class='fa fa-caret-up'></i></span>
        <span class='key'>s</span> <span class='key'>j</span>
        or swipe <i class='fa fa-long-arrow-down'></i><br />
        soft drops the piece (drop line by line)
    </p>
    <p>
        <span class='key key-long'>spacebar</span> or
        <span class='key key-long'>&crarr; enter</span><br />
        hard drops the piece (drop all the way to the bottom)
    </p>
    <p>
        <br /><i class="fa fa-github"></i> GitHub: view the <a href='https://github.com/bkbooth/BlockDrop' target='_blank'>source code</a> or
        <a href='https://github.com/bkbooth' target='_blank'>find me</a>
    </p>
</div>
